@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

v:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply font-sans;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
a {
  font-family: "Inter", sans-serif;

}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}


